diff -Naur 10-ko/arch/ia64/configs/generic_defconfig 20-fetchop/arch/ia64/configs/generic_defconfig
--- 10-ko/arch/ia64/configs/generic_defconfig	Thu Feb 26 16:39:33 2004
+++ 20-fetchop/arch/ia64/configs/generic_defconfig	Thu Feb 26 16:41:39 2004
@@ -68,6 +68,7 @@
 # CONFIG_IA64_CYCLONE is not set
 CONFIG_PM=y
 CONFIG_IOSAPIC=y
+CONFIG_IA64_SGI_SN_XPC=m
 CONFIG_FORCE_MAX_ZONEORDER=18
 # CONFIG_HUGETLB_PAGE_SIZE_4GB is not set
 # CONFIG_HUGETLB_PAGE_SIZE_1GB is not set
@@ -475,6 +476,7 @@
 # Wan interfaces
 #
 # CONFIG_WAN is not set
+CONFIG_XPNET=m
 
 #
 # Amateur Radio support
@@ -557,6 +559,7 @@
 # CONFIG_STALDRV is not set
 CONFIG_SGI_L1_SERIAL=y
 CONFIG_SGI_L1_SERIAL_CONSOLE=y
+CONFIG_FETCHOP=y
 
 #
 # Serial drivers
