Date: Fri, 6 Feb 2004 15:00:15 +0100 (CET)
From: Roman Zippel <zippel@linux-m68k.org>
To: Andreas Gruenbacher <agruen@suse.de>
Subject: Re: Bug in "select" dependency checking?

Hi,

On Fri, 6 Feb 2004, Andreas Gruenbacher wrote:

[] With this configuration, menuconf gives me this message (among others):
[]
[]   Warning! Found recursive dependency: NFSD_V3 NFSD_ACL NFSD NFSD_V3

This is indeed a wrong positive, the patch below fixes this [...]

Index: scripts/kconfig/symbol.c
===================================================================
--- linux-2.6.2/scripts/kconfig/symbol.c
+++ linux-2.6.2/scripts/kconfig/symbol.c
@@ -706,7 +706,7 @@ struct symbol *sym_check_deps(struct sym
 		goto out;

 	for (prop = sym->prop; prop; prop = prop->next) {
-		if (prop->type == P_CHOICE)
+		if (prop->type == P_CHOICE || prop->type == P_SELECT)
 			continue;
 		sym2 = sym_check_expr_deps(prop->visible.expr);
 		if (sym2)
