set -e

# mkdir -p /lib/modules /usr/lib/modules
# ln -sfn {{KMODDIR}} /lib/modules/{{KERNEL_VERSION}}
# ln -sfn {{KMODDIR}} /usr/lib/modules/{{KERNEL_VERSION}}

SSH_BINS="ip ss ping dig nslookup wget ssh sshd ssh-keygen scp sftp"
for ssh_helper in sshd-session sftp-server; do
    if [ -x "/usr/lib/ssh/$ssh_helper" ]; then
        SSH_BINS="$SSH_BINS /usr/lib/ssh/$ssh_helper"
    elif [ -x "/usr/libexec/ssh/$ssh_helper" ]; then
        SSH_BINS="$SSH_BINS /usr/libexec/ssh/$ssh_helper"
    fi
done

# Build the Dracut initrd
dracut --verbose --force --no-hostonly --gzip \
    --kmoddir {{KMODDIR}} \
    --kver {{KERNEL_VERSION}} \
    --add "base bash kernel-modules network udev-rules terminfo" \
    --add-drivers "virtio_rng virtio_pci virtio_console virtio_net 9p 9pnet_virtio zram lzo lzo-rle" \
    --force-drivers "xfs btrfs zram nvme lzo lzo-rle dm-snapshot dm-flakey loop dm-log-writes virtio_blk" \
    --install "$SSH_BINS" \
    --install "rpm rpmdb rpmdb2solv zypper vim vi vim-nox11" \
    --install "busybox bash grep awk sed find less tar gzip df du wc dd sleep clear" \
    --install "ps top vmstat lsblk lscpu lsmem fallocate hostnamectl hostname whoami zcat" \
    --install "gcc make git ldd readelf size resize xterm tput modprobe strace" \
    --include /usr/libexec/ssh /usr/libexec/ssh \
    --include /usr/lib/sysimage/rpm /usr/lib/sysimage/rpm \
    --include /usr/lib/rpm /usr/lib/rpm \
    --include /var/lib/rpm /var/lib/rpm \
    --include /var/lib/zypp /var/lib/zypp \
    --include /etc/zypp /etc/zypp \
    --include /usr/share/vim /usr/share/vim \
    --include /usr/share/terminfo /usr/share/terminfo \
    --include /usr/share/libalternatives /usr/share/libalternatives \
    --include /etc/passwd /etc/passwd \
    --include /etc/group /etc/group \
    --include /etc/shadow /etc/shadow \
    --include /module_root/custom_init /custom_init \
    /module_root/initrd_dracut.gz
