#!/bin/bash
set -e

# install the uploaded RPM
rpm -ivh --force --oldpackage {{RPM_NAMES}}

# run dracut to regenerate initrd
dracut --force --no-hostonly --kver {{KERNEL_VERSION}}-{{CONFIG_FLAVOR}}

# regenerate grub configuration
echo 'GRUB_DISABLE_SUBMENU=y' >> /etc/default/grub
sed -i 's/^GRUB_DISTRIBUTOR=.*/GRUB_DISTRIBUTOR="kernel-sandbox-image"/' /etc/default/grub
echo 'GRUB_DEFAULT="kernel-sandbox-image, with Linux {{KERNEL_VERSION}}-{{CONFIG_FLAVOR}}"' >> /etc/default/grub
grub2-mkconfig -o /boot/grub2/grub.cfg

# disable jeos-firstboot services (prevents interactive setup)
systemctl disable jeos-firstboot.service || true
systemctl disable jeos-firstboot-snapshot.service || true

# configure autologin for root on ttyS0 (serial console)
mkdir -p /etc/systemd/system/serial-getty@ttyS0.service.d
cat > /etc/systemd/system/serial-getty@ttyS0.service.d/autologin.conf << 'EOF'
[Service]
ExecStart=
ExecStart=-/sbin/agetty --autologin root --noclear %I $TERM
EOF

# setup legacy wicked (SLE 15) to automatically request DHCP on boot
mkdir -p /etc/sysconfig/network
cat > /etc/sysconfig/network/ifcfg-eth0 << 'EOF'
BOOTPROTO='dhcp'
STARTMODE='auto'
EOF

# apply common SSH configuration drop-in
# the below configuration is applied inside local sandbox/testing environment
cat > /tmp/sshd_override << 'EOF'
Port 22
PermitRootLogin yes
PermitEmptyPasswords yes
PasswordAuthentication yes
UsePAM no
Subsystem sftp internal-sftp
EOF
if grep -qi '^Include' /etc/ssh/sshd_config /usr/etc/ssh/sshd_config 2>/dev/null; then
    # The system supports and loads drop-ins
    mkdir -p /etc/ssh/sshd_config.d
    mv /tmp/sshd_override /etc/ssh/sshd_config.d/99-kernel-sandbox-sshd.conf
    chmod 644 /etc/ssh/sshd_config.d/99-kernel-sandbox-sshd.conf
else
    # without drop-in support (or missing the Include directive)
    touch /etc/ssh/sshd_config
    cat /etc/ssh/sshd_config >> /tmp/sshd_override
    mv /tmp/sshd_override /etc/ssh/sshd_config
    chmod 644 /etc/ssh/sshd_config
fi

# remove the root password 
# passwd -d root
sed -i 's/^root:[^:]*:/root::/' /etc/shadow 2>/dev/null || true

