From: Michal Kubecek <mkubecek@suse.cz>
Date: Sun, 14 Jul 2019 20:58:33 +0200
Subject: Kconfig: make CONFIG_CC_CAN_LINK always true
Patch-mainline: Never, SUSE specific
References: bsc#1127188

SUSE kernels are always built in an environment where the toolchain can
link userspace programs but run_oldconfig.sh and kbuild checks use cross
compilers for non-x86 programs so that they would end up with wrong value
of CONFIG_CC_CAN_LINK.

Make CONFIG_CC_CAN_LINK and CONFIG_CC_CAN_LINK_STATIC always true to work
around this until we find a better solution.

Signed-off-by: Michal Kubecek <mkubecek@suse.cz>
---
 init/Kconfig | 8 ++------
 1 file changed, 2 insertions(+), 6 deletions(-)

--- a/init/Kconfig
+++ b/init/Kconfig
@@ -48,14 +48,10 @@ config CLANG_VERSION
 	default $(shell,$(srctree)/scripts/clang-version.sh $(CC))
 
 config CC_CAN_LINK
-	bool
-	default $(success,$(srctree)/scripts/cc-can-link.sh $(CC) $(m64-flag)) if 64BIT
-	default $(success,$(srctree)/scripts/cc-can-link.sh $(CC) $(m32-flag))
+	def_bool y
 
 config CC_CAN_LINK_STATIC
-	bool
-	default $(success,$(srctree)/scripts/cc-can-link.sh $(CC) -static $(m64-flag)) if 64BIT
-	default $(success,$(srctree)/scripts/cc-can-link.sh $(CC) -static $(m32-flag))
+	def_bool y
 
 config CC_HAS_ASM_GOTO
 	def_bool $(success,$(srctree)/scripts/gcc-goto.sh $(CC))
