From: Michal Kubecek <mkubecek@suse.cz>
Date: Sun, 14 Jul 2019 20:58:33 +0200
Subject: Kconfig: make CONFIG_CC_CAN_LINK always true
Patch-mainline: Never, SUSE specific
References: bsc#1127188

SUSE kernels are always built in an environment where the toolchain can
link userspace programs but run_oldconfig.sh and kbuild checks use cross
compilers for non-x86 programs so that they would end up with wrong value
of CONFIG_CC_CAN_LINK.

Make CONFIG_CC_CAN_LINK and CONFIG_CC_CAN_LINK_STATIC always true to work
around this until we find a better solution.

Signed-off-by: Michal Kubecek <mkubecek@suse.cz>
---
 init/Kconfig | 4 +---
 1 file changed, 1 insertion(+), 3 deletions(-)

--- a/init/Kconfig
+++ b/init/Kconfig
@@ -58,9 +58,7 @@ config LLD_VERSION
 	default 0
 
 config CC_CAN_LINK
-	bool
-	default $(success,$(srctree)/scripts/cc-can-link.sh $(CC) $(CLANG_FLAGS) $(m64-flag)) if 64BIT
-	default $(success,$(srctree)/scripts/cc-can-link.sh $(CC) $(CLANG_FLAGS) $(m32-flag))
+	def_bool y
 
 config CC_CAN_LINK_STATIC
 	bool
