From: Suresh Jayaraman <sjayaraman@suse.de>
Subject: [PATCH] automate config options for kernel-desktop
References: FATE#305694
Patch-mainline: Never

Automate the desktop only kernel configuration options with the new
CONFIG_KERNEL_DESKTOP.

Signed-off-by: Suresh Jayaraman <sjayaraman@suse.de>
---
 init/Kconfig           |    5 ++++-
 kernel/Kconfig.hz      |    1 +
 kernel/Kconfig.preempt |    1 +
 3 files changed, 6 insertions(+), 1 deletion(-)

Index: linux-2.6.31-master/init/Kconfig
===================================================================
--- linux-2.6.31-master.orig/init/Kconfig
+++ linux-2.6.31-master/init/Kconfig
@@ -463,7 +463,8 @@ config HAVE_UNSTABLE_SCHED_CLOCK
 config GROUP_SCHED
 	bool "Group CPU scheduler"
 	depends on EXPERIMENTAL
-	default n
+	default n if KERNEL_DESKTOP
+	default y
 	help
 	  This feature lets CPU scheduler recognize task groups and control CPU
 	  bandwidth allocation to such task groups.
@@ -513,6 +514,8 @@ endchoice
 
 menuconfig CGROUPS
 	boolean "Control Group support"
+	default n if KERNEL_DESKTOP
+	default y
 	help
 	  This option adds support for grouping sets of processes together, for
 	  use with process control subsystems such as Cpusets, CFS, memory
Index: linux-2.6.31-master/kernel/Kconfig.hz
===================================================================
--- linux-2.6.31-master.orig/kernel/Kconfig.hz
+++ linux-2.6.31-master/kernel/Kconfig.hz
@@ -4,6 +4,7 @@
 
 choice
 	prompt "Timer frequency"
+	default HZ_1000 if KERNEL_DESKTOP
 	default HZ_250
 	help
 	 Allows the configuration of the timer frequency. It is customary
Index: linux-2.6.31-master/kernel/Kconfig.preempt
===================================================================
--- linux-2.6.31-master.orig/kernel/Kconfig.preempt
+++ linux-2.6.31-master/kernel/Kconfig.preempt
@@ -1,6 +1,7 @@
 
 choice
 	prompt "Preemption Model"
+	default PREEMPT if KERNEL_DESKTOP
 	default PREEMPT_NONE
 
 config PREEMPT_NONE
